In [1]:
##Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [36]:
import pandas as pd

In [37]:
s = pd.Series([4,8,15,16,23,42])

In [38]:
type(s)

pandas.core.series.Series

In [39]:
s

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
##variable print it.

In [41]:
a = pd.Series([1,2,3,4,5,6,7,8,9,10])

In [42]:
a

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [43]:
##Q3. Create a Pandas DataFrame that contains the following data:

In [55]:
df1 = {'name' : ['Alice' ,'Bob' , 'Claire' ],
        'age' :    [25 ,    30 ,       27  ]  ,
      'gender' :  ['female' , 'male' , 'female']
      }

In [56]:
pd.DataFrame(df1)

     name  age  gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

In [ ]:
##Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
As noted in the table, a Pandas Series is a 1D array of data, but a single-column DataFrame is a 2D table with one column. The main distinction between the two is this. For a single-column DataFrame, an index can be optional, but a Series has to have an index defined

In [ ]:
##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
##you give an example of when you might use one of these functions?

In [ ]:
Pandas Functions to get Deeper Insights into the Dataset
isnull() This function helps you to check if there in which row and which column your data has missing values. ...
fillna() This function is used to replace missing values or NaN in the df with user-defined values. ...
sort_values() ...
df.value_counts()

In [ ]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
 1. Series
        A Series is a one dimensional array like structure with homogeneous data. The values of the series are mutable means we can change any value in series, but the size of the series is immutable so we can not change the size of the series. A series can hold any type of data like integer, decimal, string, python objects, etc.

In [ ]:
 DataFrame is a two-dimensional array with heterogeneous data. A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time

In [ ]:
##Q7. Create a DataFrame using multiple Series. Explain with an example.

In [57]:
import pandas as pd
r = pd.Series([i*3 for i in range(0, 10)], name='rrr')
s = pd.Series([i*5 for i in range(0, 10)], name='sss')

In [ ]:
pd.concat[r , s] , axis =1)